{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"  content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%  if title is defined %}
            {% block title %}{{ title }}{% endblock %}
        {% endif %}
    </title>
    {% block stylesheets %}
        {# <link type="text/css" rel="stylesheet" href="{{ asset('pdf-views/sheet.css') }}" > #}
    {% endblock %}
</head>

<body>

<div class="page-flex">
    {# {% block navbar %}
        {% include 'navigation/menu.html.twig' with {
            'route': route, 'app': app
        } %}
    {% endblock %} #}

    {% block body %}{% endblock %}

    {% if app.request.attributes.get('_route') != 'app_login' %}
    <footer class="footer">
       <p>© Monwoo 2023 (service@monwoo.com)</p>
    </footer>
    {% endif %}
</div>

{% block javascript %}
    <script>
        window.baseHref = "{{ app.request.getBaseURL()|e('js') }}";
    </script>

    {# {% if app.request.attributes.get('_route') in ['app_pdf_billings'] %}
        <script src="{{ asset('libs/pdfjs-3.7.107/pdf.js') }}"></script>
    {% endif %} #}
{% endblock %}
</body>

</html>
