// Survey js basic styles
@import "~survey-core/defaultV2.min.css";
@import "~survey-jquery/defaultV2.min.css";
// @import "~survey-core/defaultV2.css";
// @import "~survey-jquery/defaultV2.css";
@import "~select2/dist/css/select2.min.css";

$mws-media-phone-w: 768px;

// .mws-survey-js-form {
//     // TODO https://sass-lang.com/documentation/at-rules/import/ + sound
//     // like @import get written to css output instead of scss interpretation ?
//     // @use "~survey-core/defaultV2.min.css";
//     @import "~survey-core/defaultV2.min.css"; // TODO : missing post css config for it ?
//     @import "~survey-jquery/defaultV2.min.css";    
// }

// SurveyJs adjustment to fit with our base theme :
:root {
    --sjs-general-backcolor-dim: transparent;
}

body {
    background-color: lightblue;
}

// TODO @apply post css NOT working anymore in sub scss ?
// cf  apps/mws-sf-pdf-billings/backend/assets/styles/app.scss
// .mws-user-show {
//     .label {
//         @apply md:w-1/4 lg:w-1/4 text-right;
//     }
//     .detail {
//         @apply md:w-1/4 lg:w-1/4 text-left;
//     }
// }

// TODO : below fail on SOURCE map or postCss issue ? ...
// @import "~survey-core/defaultV2.css";
// .mws-classic-survey-js {
// .mws-survey-js-form {
//     // TODO https://sass-lang.com/documentation/at-rules/import/ + sound
//     // like @import get written to css output instead of scss interpretation ?
//     // @use "~survey-core/defaultV2.min.css";
//     @import "~survey-core/defaultV2.min.css"; // TODO : missing post css config for it ?
//     @import "~survey-jquery/defaultV2.min.css";    
// }

// Fixing double size main scroll bug :
html,
body,
footer {
    overflow: hidden;
    overflow-clip-margin: unset;

    @media print {
        overflow: auto;
    }
}

// Customize survey JS :

:root,
.sd-root-modern {
    --sjs-base-unit: 7px;
    --sjs-default-font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --sjs-font-family: ui-sans-serif, system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --sd-base-padding: 14px;
}

.sd-body.sd-body--static {
    // TODO : do without !important;, 
    // framework default css loaded after custom css ? why ?
    // cf app.js loading order ? since module, parallel loads ?
    // force load orders ?
    max-width: 100% !important;
}

// ajust for button space on embed forms
.sd-panel__content {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sd-row--multiple>div {

    // TIPS, CSS var can't be used in @media query,
    // so using SCSS one...
    @media (max-width: $mws-media-phone-w) {
        flex: initial !important;
    }
}

.sd-dropdown__value {
    input {
        // TODO: why needed for custom view display in dropdown ?
        //       missing some class
        opacity: 0;
    }

    .sd-dropdown__filter-string-input:not([placeholder=""]) {
        opacity: 1;
    }
}

.sd-file {
    min-height: 9em;
    padding: 0px;
    margin: 0px;

    .sd-file__decorator {
        padding: 0px;
        // TODO : not enough, did raise up min-height for now
        height: fit-content;
    }

    .sd-file__drag-area {
        position: initial;
    }
}

.sd-file__list {
    // width: 100%;
    padding: 0;

    .sd-file__preview {
        width: 100%;

        .sd-file__sign a {
            width: 100%;
        }
    }
}

.sd-element--with-frame {
    padding-left: 2px;
    padding-right: 2px;
}

.sd-root-modern--mobile .sd-body.sd-body--responsive,
.sd-root-modern--mobile .sd-body.sd-body--static {
    padding: 2px;
}

sd-body.sd-body--responsive {
    padding: 2px;
}

.read-status {
    svg {
        max-width: 42px;
    }

    &.read {
        svg {
            color: green;
        }
    }
}

.sf-minitoolbar {
    opacity: 0.2;
}

thead[class*="sticky"] {
    background: linear-gradient(to right,
            RGB(var(--mws-background-rgb)),
            RGB(var(--mws-background-light-rgb)),
            RGB(var(--mws-background-rgb)));
}