{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
<table class="aim" style="padding: 0px;border-spacing:{{ (0) * fullWidth }} 0;font-size:10pt;">
	<tr>
		<td class="empty-space" style="font-size:7pt;"></td>
	</tr>
	<tr>
		<td class="aim-label" style="width:{{ 0.1 * fullWidth }};text-align:right;font-weight:bold;text-decoration:none;">
			Objet :
		</td>
		<td class="aim-description" style="width:{{ 0.8 * fullWidth }};
text-align: center;
font-weight:bold;
font-size:10pt;">
			<div class="title" style="color:#11589A;">
				{# {{ quotationTotal|format_currency('EUR', {rounding_mode: 'halfeven'}) }} : #}
				Inclus par Monwoo : Etude analytique de projet(s) en 3 Lots.
			</div>
			<div class="description" style="">
				- livrable spreadsheet ou synthèse en visioconférence.
			</div>
			<div class="description" style="">
				- 3 lots pour 3 itérations agiles adaptées au contexte incluant
				{{businessWorkloadHours|format_number({rounding_mode: 'halfeven', fraction_digit: 2}) }}
				heures Monwoo.
			</div>
		</td>
		<td class="empty-space" style="width:{{ 0.1 * fullWidth }};"></td>
	</tr>
</table>