{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
<div class="businsess-item svelte-workload">
	Mise en oeuvre dirigée du starter https://mws.monwoo.com/demos/svelte-wp-display/ par sessions de 20 minutes en travaux distanciels.<br/>
	<strong>Lot 1</strong>
	: https://mws.monwoo.com/demos/svelte-wp-display/fr/mws/wp-display/identite-visuelle/<br/>
	ou adaptation de type : https://www.conceptz-crewz.com/guide pour une première proposition.<br/>
	<strong>Lot 2</strong>
	: Ajustements des composants et propositions via des librairies existantes sur le marché pour une deux!ème livraison.<br/>
	<strong>Lot 3</strong>
	: Ajustements, finitions et/ou tests pour une livraison finale.<br/>
	<br/>
	Avec
	{{ (businessWorkloadHours * 3/3)|format_number({fraction_digit: 0}) }}
	travaux distanciels de 20 minutes par Lot.
</div>
