{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}

<style>

</style>
<table style="padding: 5px;">
  <tr>
    <td>
      {{billingConfig.clientName}}
    </td>
  </tr>
  <tr>
    <td>
      {{billingConfig.clientSlug}}
    </td>
  </tr>
</table>