{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{{ billingConfig.businessAim|striptags(allowedHtmlTags)|raw }}
{# TIPS : will be removed by sanitizer for html content inside index.twig.html and ok for businessAim copy/past #}
<td class="aim-label" style="width:{{ 0.1 * fullWidth }};text-align:right;font-weight:bold;text-decoration:none;">
	Objet :
</td>
<td class="aim-description" style="width:{{ 0.8 * fullWidth }};
text-align: center;
font-weight:bold;
font-size:10pt;">
	{{ billingConfig.businessAim|striptags(allowedHtmlTags)|raw }}
</td>
<td class="empty-space" style="width:{{ 0.1 * fullWidth }};"></td>
