{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}
{# <link type="text/css" rel="stylesheet" href="{{ asset('pdf-views/sheet.css') }}" > #}
<style>
  {{ pdfCssStyles }}
</style>

{# https://stackoverflow.com/questions/3404095/tcpdf-not-render-all-css-properties
https://stackoverflow.com/questions/19002634/how-to-use-external-css-in-tcpdf-pdf-generation
https://stackoverflow.com/questions/11395171/why-does-tcpdf-ignore-my-inline-css
Some things won't work when included within <style> tags, however they will if added in a style="" attribute in the HTML tag. E.g. table padding – this doesn't work
table {
    padding: 5px;
} 

TCPDF has a very limited CSS support. It doesn't support all attributes.
Currently, only the following CSS attributes are supported:

font-family
font-size
font-weight
font-style
color
background-color
text-decoration
width
height
text-align

#}

{% if billingConfig %}
  <table style="padding: 5px;">
    <tr>
      <td>
        {{billingConfig.clientName}}
      </td>
    </tr>
    <tr>
      <td>
        {{billingConfig.clientSlug}}
      </td>
    </tr>
  </table>
{% else %}
  Please, submit previous form to update this PDF.
{% endif %}
