{# 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo (service@monwoo.com) #}

<style></style>
{# <!-- TODO : for loop on Transactions --> #}
<tr style="text-align:right;font-size:10pt;color:#666666;">
	<td style="width:{{ 0.40 * fullWidth }};border-right:solid 1px black;">Acompte 20230723-R-M00 du 23/07/2023 :</td>
	<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">{{(400/1500)|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2}) }}</td>
	<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">{{400|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">{{0|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">{{400|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};"></td>
</tr>

<tr style="text-align:right;font-size:10pt;font-weight:bold;color:#666666;">
	<td style="width:{{ 0.40 * fullWidth }};border-right:solid 1px black;">Restera à régle :</td>
	<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">{{(1100/1500)|format_percent_number({rounding_mode: 'halfeven', fraction_digit: 2}) }}</td>
	<td style="width:{{ 0.12 * fullWidth }};border-right:solid 1px black;">{{1100|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">{{0|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};;border-right:solid 1px black">{{1100|format_currency('EUR', {rounding_mode: 'halfeven'})}}</td>
	<td style="width:{{ 0.12 * fullWidth }};"></td>
</tr>
