// 🌖🌖 Copyright Monwoo 2023 🌖🌖, build by Miguel Monwoo, service@monwoo.com

///////////////////////
// ⛵️⛵️⛵️⛵️⛵️⛵️⛵️⛵️⛵️⛵️⛵️⛵️
// Libs (Scss AND PostCss syntax activated)
///////////////////////

// Tailwind post css injection :
@tailwind base;
@tailwind components;
@tailwind utilities;

///////////////////////
// 🛥🛥🛥🛥🛥🛥🛥🛥🛥🛥🛥🛥
// Base theme adjustments
///////////////////////

$mws-primary-rgb: 17, 88, 154;
// $mws-secondary-rgb: 17, 88, 154;

$mws-background-rgb: 219, 181, 112;
// http://www.brandgradients.com/gold-gradient/
// $mws-background-light-rgb: 252, 246, 186;
$mws-background-light-rgb: 242, 234, 145;

$mws-background-over-scroll-rgb: 44, 42, 24;

:root {
    --mws-primary-rgb: #{$mws-primary-rgb};
    // --mws-secondary-rgb: #{$mws-secondary-rgb};
    // TODO : scss macro or mixin on variables starting with "mws-" ? instead of copy/past...
    --mws-background-rgb: #{$mws-background-rgb};
    --mws-background-light-rgb: #{$mws-background-light-rgb};
    --mws-background-over-scroll-rgb: #{$mws-background-over-scroll-rgb};
}

html {
    // background-color: gold;
    // TIPS : Use UPPERCASE to avoid SCSS rbg function and use the CSS rgb syntax
    background-color: RGB($mws-background-rgb);
    background-color: RGB(var(--mws-background-rgb));
    // to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C
    // TIPS : can't be there, will be rewrite by js for background scroll bounce colors
    // background : linear-gradient(
    //     to right,
    //     RGB(var(--mws-background-rgb)),
    //     RGB(var(--mws-background-light-rgb)),
    //     RGB(var(--mws-background-rgb))
    // );
    body {
        background : linear-gradient(
            to right,
            RGB(var(--mws-background-rgb)),
            RGB(var(--mws-background-light-rgb)),
            RGB(var(--mws-background-rgb))
        );
    }

    // https://stackoverflow.com/questions/68552282/give-different-color-to-top-and-bottom-of-the-webpage-body-overscroll
    // overscroll-behavior-y: none;
    // body {
    //     overscroll-behavior-y: none;
    // }
    // TIPS : no need to remove, if you have JS access, cf :
    // apps/mws-sf-pdf-billings/backend/assets/app.js

    // height:100%;
    // // should be html, body, and some inside div wrapper or js event to really theme it
    // overflow: hidden;
    // body {
    //     overflow: auto;
    //     height: initial;
    // }
}

// https://v1.tailwindcss.com/components/buttons
// TIPS :
// button, [type='button'] { // TIPS : not enough, need full rule as
// done by '@tailwind base;' to overwrite without '!important' extra rule like :
// button, [type='button'], [type='reset'], [type='submit'] {
// button, [type] { // TIPS : will apply to all div etc....
button, button[type] { // OK, all button and all button with type attributes
    @apply font-bold py-2 px-4 rounded;
    @apply bg-blue-500 text-white;
    background-color: RGB(var(--mws-primary-rgb));;
}

a {
    text-decoration: underline;
}

///////////////////////
// 🏰🏰🏰🏰🏰🏰🏰🏰🏰🏰🏰🏰
// Custom domains or component classes
///////////////////////


///////////////////////
// 🛸🛸🛸🛸🛸🛸🛸🛸🛸🛸🛸🛸
// (S)CSS hacks
///////////////////////
